<!DOCTYPE html>
<html>

<head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class = "bg-container">
        <div class="header-main-container">
            <div class = "logo-container">
                <h1 class = "logoname">Sandhya.</h1>
            </div>
            <div class = "heading-container">
                <div class="headings">
                    <h1 id = "homeId" class="heading-names">
                        Home
                    </h1>
                </div>
                <div class="headings">
                    <h1 id = "aboutId" class="heading-names">
                        About
                    </h1>
                </div>
                <div class="headings">
                    <h1 class="heading-names">
                        Projects
                    </h1>
                </div>
                <div class="headings">
                    <h1 class="heading-names">
                        Portfolio
                    </h1>
                </div>
                <div class="headings">
                    <h1 class="heading-names">
                        Contact
                    </h1>
                </div>
            </div>

        </div>    
        <div class = "footer-container">
            <p class = "footer-para">@Copyright <span class = 'span-element-sandhya'>SandhyaRani</span> All Rights Reserved</p>
    
    
        </div>
    </div>

</body>

</html>